body {
    background-color: #136F63;
    color: white;
}

header {
    text-align: center;
    margin: 0 auto;
}

.logo {
    width:35%;
    height: auto;
}

#background {
    background-image: url("images/online-store-6.JPG"); 
    /* background-color: #4a2545; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: 600px;
}

.shop-link-container {
    position: relative;
    height: 450px;
}

.shop-button {
    position:absolute;
    top:50%;
}

.lookbook-container {
    position: relative;
}

.lookbook-text {
    text-align: left;
}

.pointer {
    cursor: pointer;
}
