body {
    background-color: #136F63;
    color: white;
    font-family: 'Playfair Display', serif;
}

header {
    text-align: center;
    margin: 0 auto;
}

.logo {
    width:35%;
    height: auto;
}

#background {
    background-image: url("images/online-store-6.JPG"); 
    /* background-color: #4a2545; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    max-width: 100vw;
    width: 100%;
    height: 600px;
}

.shop-link-container {
    position: relative;
    height: 450px;
}

.shop-button {
    position:absolute;
    top:50%;
}

.lookbook-container {
    position: relative;
}

.lookbook-text {
    text-align: left;
}

.pointer {
    cursor: pointer;
}

.zoom:hover {
    transform: scale(1.1);

}
.bg-colour {
    background-color: #136F63;
}

.back-to-top-container {
    height: 100px;
}

.back-to-top-button {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
} 

button:hover {
    transform: scale(102%)
}
